:root{
    --html:#FF4B00;
    --css: #2096F3;
    --js: #DAB92C;
    --react: #61DAFB;
}

/* HERO */
.hero{
    display: block;
    /*background: url(../img/portrait2.jpg);*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-layer{
    background: linear-gradient(to top, #000000,#11181a70);
    /*background: linear-gradient(to right, #00000070,#11181a70);*/
    height: 100vh;
    width: 100%;
}
.hero-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0px 250px;
}
.hero-ita{
    margin: 10px 0px;
}
.hero-ita span{
    font-weight: bold;
    text-transform: uppercase;
}
.hero-title{
    letter-spacing: -3px;
    color: #fff;
    line-height: 1.1;
}
.hero-title span{
    color:#389edb;
}
.typewriter{
    width: 65%;
    margin: 20px 0px;
}
.typewriter h1 {
    overflow: hidden; 
    border-right: 4px solid #389edb; 
    white-space: nowrap; 
    margin: 0 auto; 
    /*letter-spacing: .15em;*/
    animation: typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #389edb; }
}
.hero-description{
    margin: 0px;
    line-height: 1.5;
    font-weight: 200;
}
.hero-cta{
    font-size: 20px;
    width: 250px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    background: transparent;
    color:#fff;
    margin-top: 50px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 15px 25px;
}
.hvr-sweep-to-right:before{
    background: #fff!important;
}
.hero-cta:hover{
    color:#11181a!important;
}
.hero-text-big{
    position: absolute;
    font-weight: bold;
    bottom:-45px;
    right:80px;
    font-size: 180px;
    color: #7a7a7a40;
    letter-spacing: -10px;
    margin: 0;
    line-height: 1;
    z-index: 3;
}

/* ABOUT */

.about{

}
.about-layer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #000;
    width: 100%;
    height: 100vh;
}
.about-left{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.about-img{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:34%;
    padding: 25px 30px;
}
.about-img-container{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.img-decor{
    width: 300px;
    height: 450px;
    border: 3px solid #fff;
    position: relative;
    top:30px;
    left:30px;
    z-index: 1;
}

.about-img-container img, .shadow{
    z-index:2;
    position: absolute;
    top:0;
    left:0;
    width: 300px;
    height: 450px;
    transition: all 0.3s;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    z-index: 2;
}
.shadow{
    box-shadow:20px 20px 50px 10px #000 inset;
    z-index: 3;
}

.far.fa-bookmark{
    color: #389EDB;
    font-size:40px;
    margin-right: 20px;
}
.about-title{
    margin-bottom: 10px;
    font-size: 45px;
    color: #f5f5f5;
}

.about-description{
    color:#7a7a7a;
    line-height: 1.4;
    font-weight: 200;
    font-size: 18px; 
}
.sub-p{
    display: block;
    margin-top: 10px;
}

.about-container{
    width: 33%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.about-text-big{
    position: absolute;
    font-weight: bold;
    bottom:-35px;
    right:80px;
    font-size: 180px;
    color: #7a7a7a40;
    letter-spacing: -10px;
    margin: 0;
    line-height: 1;
    z-index: 3;
}

/*SKILLS*/
.skills{
    display: flex;
    flex-direction: column;
    margin-top: 150px ;
    position: relative;
    padding:0px 250px;
    padding-bottom: 200px;
}
.skills-text{

}
.skills-text h2{
    color:white;
    font-size:45px;
}
.skills-text i{
    color:#389edb;
}
.skills-container{
    display: flex;
    flex-direction: column;
    margin-top:20px;
}
.skills-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.skill{
    position: relative;
    top: 0;
    padding: 25px;
    width: 46%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}
.skill:hover{
    top:-15px;
}
.html{
    /*background: #ff4d0059;*/
    box-shadow: 3px 3px 20px 3px var(--html);
    border-radius: 8px;
    border-bottom: 4px solid var(--html);
    border-right: 4px solid var(--html);
}
.css{
    /*background: #ff4d0059;*/
    box-shadow: 3px 3px 20px 3px var(--css);
    border-radius: 8px;
    border-bottom: 4px solid var(--css);
    border-right: 4px solid var(--css);
}
.javascript{
    /*background: #ff4d0059;*/
    box-shadow: 3px 3px 20px 3px var(--js);
    border-radius: 8px;
    border-bottom: 4px solid var(--js);
    border-right: 4px solid var(--js);
}
.react{
    /*background: #ff4d0059;*/
    box-shadow: 3px 3px 20px 3px var(--react);
    border-radius: 8px;
    border-bottom: 4px solid var(--react);
    border-right: 4px solid var(--react);
}

.skill-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.skill-img{
    width: 30%;
    height: 100%;
}
.skill-img img{
    width: 100%;
    height: 100%;
}

.skill-text{
    width: 70%;
    padding-left: 25px;
}
.skill-name{
    color: white;
    font-size:30px;
}
.skillbar{
    height: 10px;
    width: 200px;
    margin-top: 20px;
    background: #1c1d25;
    border:1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
}

.skillbar-html{
    width: 90%;
    height: 100%;
    background: var(--html);
    border-radius: 10px;
}
.skillbar-css{
    width: 80%;
    height: 100%;
    background: var(--css);
    border-radius: 10px;
}
.skillbar-js{
    width: 30%;
    height: 100%;
    background: var(--js);
    border-radius: 10px;
}
.skillbar-react{
    width: 20%;
    height: 100%;
    background: var(--react);
    border-radius: 10px;
}
.skill-text-big{
    position: absolute;
    font-weight: bold;
    bottom:-35px;
    right:80px;
    font-size: 180px;
    color: #7a7a7a40;
    letter-spacing: -10px;
    margin: 0;
    line-height: 1;
    z-index: 3;
}

/* PORTFOLIO */
.portfolio{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px ;
    position: relative;
}
.portfolio-text{
    text-align: left;
    padding: 0px 250px;
    width: 100%;
}
.portfolio-title{
    color:white;
    font-size:45px;
}

.portfolio-title i{
    color:#389edb;
}
.works-container{
    width: 100%;
    padding: 20px 300px;
    margin-top: 20px;
    z-index: 2;
}
.work-list{
    margin: 0;
    padding: 0;
}
.work-list li{
    list-style-type: none;
    margin: 50px 0px;
}
.work-list li:nth-child(1){
    margin-right:-150px ;
}
.work-list li:nth-child(2){
    margin-left:-100px ;
}
.work-one, .work-two{
    display: block;
    width: 90%;
    height: 100%;
    width: 80%;
    opacity: 1;
    height: 400px;
    background-color: #1c1d25;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.work-one{
    background: url(../images/ht_point.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transition: all 0.4s;
}

.work-one:hover{
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.work-two{
    background: url(../images/gino.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin-top: 150px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transition: all 0.4s;
}
.work-two:hover{
    border-left: 3px solid white;
    border-bottom: 3px solid white;
}
.w-layer{
    width: 100%;
    height: 100%;
    background: #00000087;
    animation-name:onHoverAnimationOut;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.w-text-l{
    position: absolute;
    bottom:50px;
    left:50px;
}
.w-text-r{
    position: absolute;
    bottom:50px;
    right:50px;
    text-align: right;
}
.w-title{
    color: #389EDB;
    letter-spacing: -2px;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 2px;
}
.w-title sup{
    color: white;
    font-size: 15px;
    letter-spacing: 0px;
}
.w-description{
    margin-bottom: 20px;
    font-size: 18px;
}
.w-link{
    position: relative;
    padding: 10px 20px;
    display: block;
    border:1px solid white;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.w-link:hover{
    color:#000!important;
}
.hvr-sweep-to-left::before{
    background: white!important;
}
.portfolio-text-big{
    position: absolute;
    font-weight: bold;
    bottom:-160px;
    right:80px;
    font-size: 180px;
    color: #7a7a7a40;
    letter-spacing: -9px;
    margin: 0;
    line-height: 1;
    z-index: 1;
}



/* GET IN TOUCH */

.get-in-touch{
    /*background: url(../images/getintouch.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 250px;
    margin-bottom: 20px;
}
.get-in-touch-layer{
    background: #000000cd;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.get-in-touch-title{
    color:#fff;
    font-size: 45px;
}
.get-in-touch-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 250px;
}

.far.fa-paper-plane{
    color: #389EDB;
    font-size:40px;
    margin-right:20px;
}

.get-in-touch-form{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    align-items: flex-start;
    z-index:2;
}
.form-group{
    position: relative;
    padding: 15px 0 0;
    margin-top: 20px;
    width: 100%;
}
.form-input{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #7a7a7a;
    outline: 0;
    font-size: 18px;
    color: #fff;
    padding: 4px 0;
    background: transparent;
    transition: border-color 0.2s;
    box-sizing: border-box;
    padding-left: 5px;
}
.form-input::placeholder {
    color: transparent;
}
.form-input:placeholder-shown ~ .form-label {
    font-size: 18px;
    cursor: text;
    top: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 1s ease-in-out 5000s;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

.form-label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 20px;
    color: #7a7a7a;
}

.form-input:valid ~ .form-label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: #7a7a7a;
    font-weight:700;
}
.form-input:focus ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: #389EDB;
    font-weight:700;
}
.form-input:focus, .form-input:valid{
    padding-bottom: 9px;  
    font-weight: 700;
    border-image-slice: 1;
    outline: none;
}
.form-input:valid{
    border-color: #7a7a7a;
}
.form-input:focus{
    border-color: #389EDB;
} 

.form-input:required{
    box-shadow: none;
}
.form-input:invalid{ 
    box-shadow:none; 
}

.form-submit{
    width: 50%;
    text-transform: uppercase;
    color:#fff;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    border: 2px solid #fff;
    font-size: 16px;
    padding: 15px;
    background: transparent;
    transition: all 0.5s;
    z-index: 5;
}

.form-submit:hover{
    
    box-shadow: 1px 1px 10px 3px #389EDB;
}

.privacy{
    font-size: 14px;
    font-weight: 200;
    color: #636363;
    margin: 40px 0px;
}
.get-in-touch-text-big{
    position: absolute;
    font-weight: bold;
    bottom:20px;
    right:80px;
    font-size: 180px;
    color: #7a7a7a40;
    letter-spacing: -10px;
    margin: 0;
    line-height: 1;
    z-index: 1;
}











@media screen and (max-width: 676px) {
    /* HERO */
 
    .hero-layer{
        margin-top: 150px;
        height: 100%;
    }
    .hero-container{
        padding: 0px 20px;
    }
    .hero-ita{
        margin: 10px 0px;
    }
    .typewriter{
        width: 100%;
        margin: 15px 0px;
    }

    .hero-cta{
        font-size: 18px;
        width: 100%;
    }
    .hero-text-big{
        display: none;
    }

    /* ABOUT */
    .about{
        padding: 0px 20px;
        margin-top: 60px;
    }
    .about-layer{
        height: 100%;
    }
    .about-left{
        width: 100%;
        flex-direction: column;
    }
    .about-img{
        width:100%;
        padding: 25px 20px;
        margin-bottom: 40px;
    }

    .img-decor{
        top:10px;
        left:10px;
    }

    .far.fa-bookmark{
        margin:0;
    }
    .about-container{
        width: 100%;
        padding: 10px 0px;
    }
    
    .about-text-big{
        display: none;
    }


    /* SKILLS */
    .skills{
        margin-top: 50px ;
        padding:0px 20px;
        padding-bottom: 20px;
    }
    .skills-text h2{
        color:white;

    }
    .skills-text i{
        color:#389edb;
    }
    .skills-container{
        margin-top: 0px;
    }
    .skills-row{
        flex-direction: column;
        margin-top: 0px;
    }
    
    .skill{
        margin-top: 50px;
        padding: 15px;
        width: 100%;
        height: 160px;
        transition-duration: 0.3s;
    }
    .skill:hover{
        top:-5px;
    }
    .skill-container{
    }
    .skill-img{
        width: 32%;
    }
    .skill-text{
        width: 68%;
        padding:0px 15px;
    }
    .skill-name{
        color: white;
        font-size:25px;
    }
    .skill-description{
        font-size: 16px;
        line-height: 1.6;
    }
    .skillbar{
        height: 10px;
        width: 100%;
        margin-top: 15px;
        background: #1c1d25;
        border:1px solid transparent;
        border-radius: 10px;
        overflow: hidden;
    }

    .skill-text-big{
        display: none;
    }

    /* PORTFOLIO */

    .portfolio{
        height: 100%;
        margin-top: 60px ;
        align-items: unset;
        justify-content: unset;
        min-height: unset ;
    }
    .portfolio-text{
        padding: 0px 20px;
    }
    .portfolio-title{
        color:white;
        font-size:40px;
    }
    .works-container{
        width: 100%;
        padding: 0px 20px;
        margin-top: 30px;
        z-index: 2;
    }
    .work-list{
        margin: 0;
        padding: 0;
    }
    .work-list li{
        list-style-type: none;
        margin: 25px 0px;
        display:block;
    }
    .work-list li:nth-child(1){
        margin-right:0px ;
    }
    .work-list li:nth-child(2){
        margin-left:0px ;
        margin-top: -90px;
    }
    .work-one, .work-two{
        width: 100%;
        height: 100%;
        opacity: 1;
        height: 400px;
        background-color: #1c1d25;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .w-text-r{
        position: absolute;
        bottom:50px;
        left:50px;
        text-align: left;
    }
    .w-title{
        font-size: 35px;
    }
    .w-description{
        margin-bottom: 20px;
        font-size: 18px;
    }
    
    .portfolio-text-big{
        display: none;
    }
    


    /*Get-in-Touch*/
    .get-in-touch{
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .get-in-touch-layer{
        background: #000000cd;
        min-height: unset;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .get-in-touch-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
    }
    .form-submit{
        width: 100%;
    }
    
    
    .get-in-touch-text-big{
        display: none;
    }


}