/*
Name => Global CSS
Description => Global CSS - nicolasricardi.com
Author => Nicolas Ricardi
Author URL => www.nicolasricardi.com
*/

/*
-----------------------------------------------------------------------------------------------------------------------
CONTENT

1 - IMPORT

2 - ROOT ELEMENTS
    2.1 - Template Colors
    2.2 - Template Font Family
    2.3 - Template Font Size
    2.4 - Template Line Height
    2.5 - Template Padding Button
    2.6 - Template Selection
    2.7 - Template Scrollbar
    2.8 - Other
    2.9 - Custom Variables

3 - HELPERS
    3.1 - Colors
        3.1.1 Template Colors
        3.2.2 Generic Colors
    3.2 - Background Colors
    3.3 - Font Family
    3.4 - Font Size
    3.5 - Text Transform

    3.7 - FlexBox
    3.8 - Button
    3.9 - Other
    3.11 - Custom Helpers

4 - ELEMENTS
    4.1 - Selection
    4.2 - Scrollbar
    4.3 - Parallax

5 - HTML - BODY - ROOT CONTAINER 

6 - HEADER
    6.1 - Header
        6.1.1 - 'Element #1'
    6.2 - Header Media Query

7 - MAIN   
    7.1 - Main
        7.1.1 - 'Element #1'
    7.2 - Main Media Query

8 - FOOTER
    8.1 - Footer
        8.1.1 - 'Element #1'
    8.2 - Footer Media Query

-----------------------------------------------------------------------------------------------------------------------

*/

/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* ROOT */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bodyBackground: rgb(0, 0, 0) ;
}

html, body{
    font-family: 'Space Grotesk', sans-serif;
    background: var(--bodyBackground);
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}


strong{
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.5;
}

p{
    font-size: 20px;
    line-height: 1.3;
    color: #b5b5b5;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 50px;
}
h4{
    font-size: 40px;
}
h5{
    font-size: 30px;
}
h6{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #bbb;
}
a:hover{
    color: #389edb;
}
a:focus{
    color: #389edb;
}


/* LOADING */
@keyframes load {
    0%{
        opacity: 0.1;
/*      font-size: 10px; */
/* 		font-weight: 400; */
		filter: blur(5px);
		letter-spacing: 3px;
    }
    100%{
/*      opacity: 1; */
/*      font-size: 12px; */
/*		font-weight:600; */
/* 		filter: blur(0); */
    }
}
.loader{
    height: 100vh;
    z-index: 99;
}
.loader-text {
	display:flex;
    color: white;
	justify-content: center;
	align-items: center;
	height:100%;
	margin: auto;
/* 	width: 350px; */
    font-size:28px;
	animation: load 1.2s infinite 0s ease-in-out;
	animation-direction: alternate;
    z-index: 99;
}

.pagination{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    animation-name: page;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    z-index: 65;
}
@keyframes page {
    0%{
        width: 100%;
    }
    100%{
        width:0%;
    }
}


/*TEXT SELECTION*/
::selection{
    color: rgb();
    background:transparent;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 5px;
    display: initial;
}  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

/* HEADER */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 60;
    padding-top: 40px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, #000000 10%,#00000000);
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 100px;
}

.nav-logo{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    filter: invert(1);
    width: 100px;
    height: 80px;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.nav-menu li{
    margin: 0px 12px;
    display: inline-block;
}
.nav-menu li a{
    text-decoration: none;
    padding: 8px 10px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.nav-menu li:nth-child(4) a{
    padding: 10px 20px;
    border: 1px solid #ffffff;
    transition: all 0.3s;
}

.hvr-underline-from-left:before{
    background:#fff!important;
    height: 1px!important;
}
.nav-menu li:nth-child(4) a:hover{
    color: #000;
}

/* SOCIAL */
.sideleft-text{
    color:#b5b5b5;
    position: fixed;
    text-transform: uppercase;
    transform: rotateZ(-90deg);
    margin:0px;
    padding:0px;
    line-height: 1;
    font-size: 15px;
    font-weight: 300;
    z-index:0!important;
    top:45%;
    left:0px;
}
.sideleft-menu{
    position: fixed;
    list-style-type: none;
    left:140px;
    bottom:110px;
}
.sideleft-menu li{
    margin-top: 15px;
}

.sideleft-menu li a i{
    font-size: 20px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.sideleft-menu li a i:hover{
    -webkit-transform: perspective(10px) translateZ(2px);
    transform: perspective(10px) translateZ(2px);
}
.ig{
    background: radial-gradient(at top right,rgb(64,93,230), rgb(88,81,219), rgb(131,58,180), rgb(193,53,132), rgb(225,48,108), rgb(253,29,29), rgb(245,96,64), rgb(247,119,55), rgb(252,175,69), rgb(255,220,128));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.in{
    color: #0e76a8;
}
.git{
    color:#636363;
}


/* FOOTER */

footer{
    background: #000;
    padding: 20px 140px;
    width: 100%;
    color: #b5b5b5;
    font-size: 14px;
    border-top:1px solid #b5b5b5;
    z-index: 99;
}

footer .copyright{
    text-align: center;
}
footer .copyright p{
    font-size: 14px;
}

footer .copyright p a{
    color: #b5b5b5;
    text-decoration: none;
}

footer .copyright p a:hover{
    color: #fff;
}

@media screen and (max-width: 676px) {
    
    h1,h2,h3,h4,h5,h6{
        line-height: 1.5;
    }
    
    p{
        font-size: 18px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 35px;
    }
    h5{
        font-size: 22px;
    }
    h6{
        font-size: 20px;
    }

    /* HEADER */
    header{
        padding-top:10px;
    }

    nav{
        padding: 20px;
    }

    .nav-logo{
        width: 40%;
    }

    .nav-menu li{
        display: none;
    }
    .nav-menu li:nth-child(4){
        display: block;
    }

    .nav-menu li:nth-child(4) a{
        position: relative;
        width:100%;
        font-size: 14px;
    }

    /*Social Sidebar*/
    .sideleft-text{
        display:none;
    }
    .sideleft-menu{
        display: none;
    }

    /* FOOTER */
    footer{
        padding: 20px 10px;
    }

}




@media screen and (min-width: 768px) and (max-width: 1200px) {

    h1,h2,h3,h4,h5,h6{
        line-height: 1.5;
    }
    
    p{
        font-size: 18px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 35px;
    }
    h5{
        font-size: 22px;
    }
    h6{
        font-size: 20px;
    }

    /* HEADER */
    header{
        padding-top:10px;
    }

    nav{
        padding: 30px;
    }

    .nav-logo{
        width: 40%;
    }


    .nav-menu li:nth-child(4) a{
        position: relative;
        width:100%;
        font-size: 14px;
    }

    /*Social Sidebar*/
    .sideleft-text{
        display:none;
    }
    .sideleft-menu{
        display: none;
    }

    /* FOOTER */
    footer{
        padding: 20px 10px;
    }


}